
body {
  background-color: #f2f2f2;
}

h1 {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  margin-bottom: 30px;
}

h4 {
   border-bottom: dotted black;
}

h6 {
  text-align: right;
  font-style: italic;
}

header {
  width: ;
  margin-top: 65px;
  margin-bottom: 50px;
  padding-right: 0px;
  background-color: #a9a9a9;
}

footer {
  text-align: left;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: #ebebeb;
}

.img-circular {
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
